body {
    margin: 0px auto;
    text-align: center;
    padding: 0px 0px; 
    width: 800px;
    background: #e5e5e5;
    font-family: Arial;
    font-size: 14px;
}

div {
    margin: 0 auto;
}

.main {
    background-color: #fff;
    padding-top: 10px;
    width: 800px;
    text-align: center;
}

.intro {
    width: 640px;
    text-align: left;
}

footer {
    background-color: #eeeeee;
    margin: 20px 0px 0px 0px;
    padding: 8px;
}

#game {
    position: relative;
    width: 640px;
}

#game:-webkit-full-screen {
    width: 100% !important;
}
#game:-moz-full-screen {
    width: 100% !important;
}

#game:-ms-fullscreen {
    width: 100% !important;
}

#game:fullscreen {
    width: 100% !important;
}

.square, .square2 {
    position:absolute;
    z-index: 1;
    left: 10px;
    bottom: 10px;
    width: 100px;
    height: 100px;
}

.square2 {
    left: auto;
    right: 10px;
}
